//* FLEXBOX mixins ------------------------------------------//

//Flexbox Column
@mixin flexCol($justify: initial, $align: initial) {
  display: flex;
  flex-direction: column;

  @if ($justify == "cen") {
    justify-content: center;
  }
  @if ($justify == "spA") {
    justify-content: space-around;
  }
  @if ($justify == "spB") {
    justify-content: space-between;
  }
  @if ($justify == "spE") {
    justify-content: space-evenly;
  }
  @if ($justify == "flexS") {
    justify-content: flex-start;
  }
  @if ($justify == "base") {
    justify-content: baseline;
  } @else {
    justify-content: $justify;
  }

  @if ($align == "cen") {
    align-items: center;
  }
  @if ($align == "flexS") {
    align-items: flex-start;
  }
  @if ($align == "flexE") {
    align-items: flex-end;
  }
  @if ($align == "st") {
    align-items: stretch;
  }
  @if ($align == "base") {
    align-items: baseline;
  } @else {
    align-items: $align;
  }
}

//Flexbox Row
@mixin flexRow($justify: initial, $align: initial) {
  display: flex;
  flex-direction: row;

  @if ($justify == "cen") {
    justify-content: center;
  }
  @if ($justify == "spA") {
    justify-content: space-around;
  }
  @if ($justify == "spB") {
    justify-content: space-between;
  }
  @if ($justify == "spE") {
    justify-content: space-evenly;
  }
  @if ($justify == "base") {
    justify-content: baseline;
  } @else {
    justify-content: $justify;
  }

  @if ($align == "cen") {
    align-items: center;
  }
  @if ($align == "flexS") {
    align-items: flex-start;
  }
  @if ($align == "flexE") {
    align-items: flex-end;
  }
  @if ($align == "st") {
    align-items: stretch;
  }
  @if ($align == "base") {
    align-items: baseline;
  } @else {
    align-items: $align;
  }
}

//* BREAKPOINTS mixins for mobile First ---------------------------//
//For Small Mobile

@mixin smallMobile {
  @media screen and (max-width: map-get($breakpoints, smallMobile)) {
    @content;
  }
}

//For Mobile

@mixin mobile-limit {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

//For tablet-only

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
//For Desktop

@mixin tablet-limit {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

//For Logo

@mixin logo-limit {
  @media screen and (max-width: map-get($breakpoints, logo)) {
    @content;
  }
}
//For big desktop

@mixin desktop-limit {
  @media screen and (max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

//box container
@mixin container($radius: 15px, $bg_orient: 145deg) {
  background: linear-gradient($bg_orient, $graphicSecondary, $graphicPrimary);
  box-shadow: 2px 2px 2px $shadowDark, -2px -2px 2px $shadowLight;
  border-radius: $radius;
}

//box container
@mixin insetContainer($radius: 15px, $bg_orient: 145deg) {
  background: linear-gradient($bg_orient, $graphicSecondary, $graphicPrimary);
  box-shadow: inset 2px 2px 4px $shadowLight, inset -2px -2px 4px $shadowDark;
  border-radius: $radius;
}
