//* ############# COLORS ############ *//

//----- Graphic charter-----//

$graphicPrimary: rgb(9, 25, 33);
$graphicSecondary: rgb(8, 31, 67);
$graphicTertiary: rgb(4, 187, 252);

$rotationValue: 0;
@mixin changeBgColor($color: white, $hue: $rotationValue) {
  background: $color;
  filter: hue-rotate($hue);
}

//! $graphicPrimary: rgb(9, 25, 33);
//! $graphicSecondary: rgb(8, 31, 67);
//! $graphicTertiary: rgb(4, 187, 252);

//---- Addcolor ---------//

$errorColor: #ff421c;
$successColor: #00b594;

//--- Shadow color ---------//

$shadowLight: rgb(214, 214, 214);
$shadowDark: #04bbfc;

//---- Text Colors ---------//

$textColor_light: rgb(248, 248, 248);
$textColor_dark: rgb(2, 2, 2);

//* ########### Breakpoints maps ###### */
$breakpoints: (
  smallMobile: 370px,
  mobile: 420px,
  logo: 670px,
  tablet: 850px,
  desktop: 1100px,
);

//* ############# DIMENSIONS ############ *//

$dim_header: 80px;
$dim_footer: 60px;
