//* ############# COLORS ############ *//

//----- Graphic charter-----//

$graphicPrimary: rgb(9, 25, 33);
$graphicSecondary: rgb(8, 31, 67);
$graphicTertiary: rgb(4, 187, 252);

$rotationValue: 0;
@mixin changeBgColor($color: white, $hue: $rotationValue) {
  background: $color;
  filter: hue-rotate($hue);
}

//! $graphicPrimary: rgb(9, 25, 33);
//! $graphicSecondary: rgb(8, 31, 67);
//! $graphicTertiary: rgb(4, 187, 252);

//---- Addcolor ---------//

$errorColor: #ff421c;
$successColor: #00b594;

//--- Shadow color ---------//

$shadowLight: rgb(214, 214, 214);
$shadowDark: #04bbfc;

//---- Text Colors ---------//

$textColor_light: rgb(248, 248, 248);
$textColor_dark: rgb(2, 2, 2);

//* ########### Breakpoints maps ###### */
$breakpoints: (
  smallMobile: 370px,
  mobile: 420px,
  logo: 670px,
  tablet: 850px,
  desktop: 1100px,
);

//* ############# DIMENSIONS ############ *//

$dim_header: 80px;
$dim_footer: 60px;
//! ############# OLD  ############ *//
//! ############# OLD  ############ *//
//! ############# OLD  ############ *//
//! ############# OLD  ############ *//
//! ############# OLD  ############ *//

//----- Graphic charter-----//

$colorPrimary: #081f43;
$colorSecondary: #ffd7d6;
$colorTertiary: #d4d4d4;

//-----Option Color : Red Variations-------//

$optionColor: #d94530;
$optionColor_light: #ff2a00;

//---- Additionnal colors : Grey variations------ //
$addColor: #f5f5f5;
$addColor_light: darken($addColor, 5%);
$addColor_dark: darken($addColor, 17%);

//? ######## NEW #########

//---- Bg colors : Grey variations------ //
$bg_Primary: #e6e6e6;
$bg_Secondary: darken($bg_Primary, 35%);
$bg_Tertiary: lighten($bg_Primary, 6%);
