.loginPage {
  position: relative;
  width: 90%;
  height: auto;
  @include flexRow("cen", "cen");
  @include desktop-limit {
    margin-top: $dim_header;
    @include flexCol("cen", "cen");
  }

  &__info {
    width: 40%;
    height: 50%;
    color: $textColor_light;
    margin: 40px;
    @include flexCol("cen", "spE");
    @include desktop-limit {
      width: 100%;
      margin: 30px 0px;
      align-items: center;
    }
    @include mobile-limit {
      display: none;
    }

    &__title {
      margin-bottom: 30px;
      @include desktop-limit {
        text-align: center;
      }
    }

    &__text {
      margin-left: 30px;
      line-height: 40px;
      @include desktop-limit {
        text-align: center;
        margin: 0px;
      }

      & hr {
        margin: 30px 0;
      }
    }
  }
}

.logForm {
  width: 100%;
  margin-top: 20px;

  @include tablet-limit {
    margin-top: 30px;
  }

  @include flexCol("cen", "cen");

  color: $textColor_dark;
  border-radius: 30px;
  background: linear-gradient(90deg, $graphicSecondary, $graphicPrimary);
  box-shadow: 2px 2px 2px $shadowDark, -2px -2px 2px $shadowLight;
  margin-bottom: 50px;

  &__button {
    width: 100%;
    @include flexRow("cen", "cen");
  }

  &--signin {
    max-width: 350px;
  }

  &--signup {
    max-width: 650px;
    @include tablet-limit {
      max-width: 350px;
    }
  }
}

.sign {
  width: 100%;
  @include flexCol("cen", "cen");

  &__title {
    width: 100%;
    height: 65px;
    border-radius: 29px 29px 0px 0px;
    background-color: $successColor;
    color: $textColor_light;
    box-shadow: 0px 2px 2px $shadowLight;

    @include flexCol("cen", "cen");
  }

  &__icon {
    fill: transparent;
    stroke: $textColor_light;
    stroke-width: 2px;
    height: 120px;
    width: 120px;
    margin-top: 20px;
  }

  &__form {
    @include flexCol("spE", "cen");
    width: 100%;
    padding: 30px;
    @include mobile-limit {
      padding: 10px;
    }

    &__section--one {
      margin-right: 20px;
      @include tablet-limit {
        width: 100%;
        margin-right: 0px;
      }
    }
    &__section--two {
      margin-left: 20px;
      @include tablet-limit {
        width: 100%;
        margin-left: 0px;
      }
    }

    &--signup {
      @include flexRow("spE", "flexS");

      @include tablet-limit {
        @include flexCol("cen", "cen");
      }
    }

    &__part {
      @include flexCol("cen", "flexS");
      width: 95%;

      & label {
        margin-bottom: 5px;
        color: $textColor_light;
      }

      & input {
        width: 100%;
        min-width: 250px;
        height: 38px;
        color: $textColor_dark;

        border-radius: 20px;
        padding: 10px;
      }

      & select {
        width: 100%;
        min-width: 250px;
        height: 38px;
        color: $textColor_dark;

        border-radius: 20px;
        padding-left: 10px;
      }

      & p {
        height: 20px;
        margin: 7px 10px 5px auto;
      }
    }
    &__cgv {
      width: 100%;
      height: 100%;
      color: $textColor_light;
      margin-top: 30px;
      @include tablet-limit {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      & input {
        margin-right: 10px;
      }
    }
  }
}

#infoError {
  max-width: 90%;
}
