.centerPage {
  width: 100%;
  @include flexRow("cen", "cen");
}

.myProfil {
  @include container(20px, 145deg);
  width: 70%;
  max-width: 700px;
  border: 1px $colorPrimary solid;
  padding: 20px;
  margin-top: $dim_header;
  margin-bottom: $dim_footer;
  @include flexCol("cen", "cen");
  color: $textColor_light;
  @include tablet-limit {
    margin-top: $dim_header + 20px;
    width: 90%;
  }

  &__form {
    width: 100%;
    height: auto;
  }

  &__contact {
    width: 100%;
    @include flexRow("spB", "flexS");
    @include tablet-limit {
      @include flexCol("cen", "cen");
    }

    &__image {
      @include flexCol("cen", "cen");

      & p {
        width: 160px;
        margin-top: 7px;
        padding: 0px 5px;
        font-size: 0.8rem;
        font-style: oblique;
        text-align: center;
      }
    }

    &__picture {
      width: 160px;
      height: 160px;
      @include container(15px, 145deg);
      @include flexCol("cen", "cen");

      &--modify {
        cursor: pointer;
      }

      & img {
        @include container(10px, 35deg);
      }
    }

    &__info {
      width: calc(100% - 180px);
      min-height: 160px;
      @include flexCol("cen", "cen");
      @include container(15px, 35deg);
      @include tablet-limit {
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 10px;
      }

      & h2 {
        text-align: center;
        margin-bottom: 10px;
        @include smallMobile {
          font-size: 1.4rem;
        }
      }
      & h3 {
        margin-bottom: 5px;
        @include smallMobile {
          font-size: 1.1rem;
        }
      }
      & p {
        margin-top: 3px;
        margin-bottom: 3px;
        @include smallMobile {
          font-size: 1rem;
        }
      }
    }
  }
  &__myInfo {
    width: 100%;

    margin-top: 20px;
    padding: 20px;

    @include container(15px, 35deg);
    @include flexCol("flexS", "st");

    &__age {
      width: 100%;
      height: auto;

      @include flexRow("flexS", "base");

      margin-bottom: 20px;
      & h3,
      & label {
        width: auto;
        padding: 10px 20px;
        color: $graphicTertiary;
        @include insetContainer(10px, 120deg);
      }
      & p {
        margin-left: 20px;
        width: calc(100%-120px);
      }
    }

    &__bio {
      width: 100%;
      margin-bottom: 20px;

      & h3 {
        height: auto;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: center;
        @include insetContainer(10px, 120deg);
        padding: 10px 20px;
        color: $graphicTertiary;
      }

      & p {
        text-indent: 2rem;
        padding: 15px;
        @include smallMobile {
          font-size: 1rem;
          padding: 10px 0px;
        }
      }
    }
  }
  &__modif {
    width: 100%;
    margin-top: 30px;
    @include flexRow("spE", "cen");

    @include tablet-limit {
      @include flexCol("cen", "cen");
    }
  }
}

///pour Modification :

.containerModif {
  width: 100%;
  @include flexRow("spB", "flexS");
  padding-right: 15px;
  @include logo-limit {
    @include flexCol("cen", "cen");
  }

  & label {
    width: 45%;
    padding-left: 10px;
    margin: 5px 0px;
    color: $graphicTertiary;

    @include logo-limit {
      width: 100%;
      text-align: left;
    }
  }

  & p {
    font-style: oblique;
  }

  &__modif {
    width: 50%;
    @include flexCol("cen", "cen");
    @include logo-limit {
      width: 100%;
    }

    & input,
    & select {
      width: 100%;
      color: $textColor_dark;
      margin: 5px 0px;
      text-align: center;
      border-radius: 10px;
    }
  }
}

.ageModif {
  @include flexRow("spB", "cen");
  @include logo-limit {
    @include flexCol("cen", "cen");
  }

  & label {
    @include container(10px, 120deg);
    color: $graphicTertiary;
    padding: 7px;
    @include logo-limit {
      width: 100%;
      text-align: center;
    }
  }

  &__modif {
    color: $textColor_dark;
    @include logo-limit {
      margin-top: 20px;
      width: 100%;

      & input {
        width: 100%;
      }
    }

    & input {
      border-radius: 10px;
      text-align: center;
      padding-left: 10px;
    }
  }
}

.bioModif {
  width: 100%;
  margin-top: 20px;
  @include flexCol("cen", "cen");

  & label {
    width: 100%;
    text-align: center;
    color: $graphicTertiary;
    padding: 7px;
    @include container(10px, 120deg);
  }

  & textarea {
    width: 100%;
    min-height: 120px;
    margin: 10px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    color: $textColor_dark;
    @include logo-limit {
      padding: 10px 10px;
    }
  }
}

//Découpage de l'image de profil :
.imageCard {
  text-align: center;
  border: 1px solid rgb(255, 196, 1);

  & img {
    width: 800px;
  }
}

.backdrop {
  position: fixed;
  background: rgba($graphicSecondary, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: fixed;
  top: 150px;
  left: 0;
  right: 25%;
  bottom: 30%;
  @include container(15px, 120deg);
  margin-left: 30px;
  overflow: hidden;
  min-height: 500px;

  @include tablet-limit {
    right: 0;
    margin-right: 30px;
    min-height: 150px;
  }

  @include mobile-limit {
    top: 130px;
    bottom: 35%;
    margin: auto 10px;
  }
  @include smallMobile {
    top: 120px;
    bottom: 40%;
  }
}

.controls {
  position: fixed;
  //left: 0;
  top: 150px;
  right: 0;
  bottom: 30%;
  width: 20%;
  //height: 100%;
  margin-right: 30px;
  min-height: 200px;
  z-index: 1;
  @include flexCol("cen", "cen");

  @include tablet-limit {
    width: 100%;
    @include flexRow("cen", "cen");
    bottom: 20px;
    top: auto;
    left: 0px;
  }
  @include smallMobile {
    bottom: 10px;
    @include flexRow("cen", "cen");
  }
}

.controls-upper-area {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  min-height: 500px;
  text-align: center;
  @include flexCol("cen", "cen");
  @include container(15px, 120deg);
  z-index: 1;
  padding: 20px;
  @include tablet-limit {
    @include flexRow("cen", "cen");
    width: 92%;
    min-height: 150px;
  }
  @include smallMobile {
    padding: 5px;

    @include flexCol("cen", "cen");
  }

  & input {
    width: 100%;
  }

  & p,
  & label {
    font-style: oblique;
    font-weight: lighter;
    margin-top: 20px;
  }
}

.controls-blocks {
  width: 50%;
  z-index: 1;
}

.slider {
  width: 100%;
  height: auto;
  margin-top: 20px;

  @include tablet-limit {
    width: 40%;
    margin: 0 20px;
  }
  @include smallMobile {
    display: none;
  }

  & input {
    margin-top: 20px;
  }
}

.button-area {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  @include flexCol("cen", "cen");
  @include tablet-limit {
    width: 40%;
  }
  @include smallMobile {
    width: 90%;
    margin-top: 0px;
  }
}

.maskInput {
  width: 100%;

  @include tablet-limit {
    width: 40%;
  }
  @include smallMobile {
    width: 90%;
  }

  & label {
    @include smallMobile {
      display: none;
    }
  }

  & input[type="file"] {
    display: none;
  }
}
//Cropper React :
