@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}

.animIcon {
  -webkit-animation: spin 3s ease-out;
          animation: spin 3s ease-out;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

p,
label {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.textLog--title {
  font-style: bold;
  font-size: 2.8rem;
}
@media screen and (max-width: 1100px) {
  .textLog--title {
    font-size: 2rem;
  }
}
.textLog--text {
  font-style: oblique;
  font-size: 1.6rem;
}
@media screen and (max-width: 1100px) {
  .textLog--text {
    font-size: 1.2rem;
  }
}

input,
select {
  font-size: 1rem;
}
input::-moz-placeholder, select::-moz-placeholder {
  font-style: oblique;
  font-size: 0.9rem;
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  font-style: oblique;
  font-size: 0.9rem;
}
input::placeholder,
select::placeholder {
  font-style: oblique;
  font-size: 0.9rem;
}

.nav__welcome__text {
  font-size: 1.2rem;
  font-style: oblique;
}

.outer {
  position: relative;
  background: linear-gradient(90deg, #081f43, #091921);
  box-shadow: 2px 2px 2px #04bbfc, -2px -2px 2px #d6d6d6;
}
.outer:hover {
  background: linear-gradient(#081f43, #d6d6d6, #04bbfc);
  -webkit-animation: rotate_hue 1s linear infinite;
          animation: rotate_hue 1s linear infinite;
}

.btn {
  width: 95%;
  max-width: 400px;
  height: 45px;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}

.outer .btn,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer input {
  background-color: #091921;
  color: #f8f8f8;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  z-index: 1;
}

.btn input {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 15px;
}

.outer:hover span {
  width: 100%;
  height: 100%;
  background: #04bbfc;
}
.outer:hover span:nth-child(1) {
  filter: blur(7px);
}
.outer:hover span:nth-child(2) {
  filter: blur(14px);
}

.btn span {
  border-radius: 50px;
}

@-webkit-keyframes rotate_hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes rotate_hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.btn__changeLog {
  max-width: 90%;
  height: auto;
  padding: 2px 10px;
  margin-bottom: 25px;
  color: #04bbfc;
  border: 1px solid #04bbfc;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}
.btn__changeLog:hover {
  background: linear-gradient(180deg, #04bbfc, #081f43);
  box-shadow: 2px 2px 4px #d6d6d6, -2px -2px 4px #d6d6d6;
  color: #f8f8f8;
  transform: scale(1.06);
  transition: ease-out 0.3s;
}

header {
  position: fixed;
  top: 1rem;
  left: 2%;
  right: 2%;
  z-index: 1;
  width: 96%;
  height: auto;
  color: #020202;
  border-radius: 20px;
  margin: auto;
  background: linear-gradient(145deg, #091921, #081f43);
  box-shadow: 2px 2px 2px #04bbfc, -2px -2px 2px #d6d6d6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
header:after {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 20px;
  border-radius: 15px;
  background: linear-gradient(145deg, #091921, #081f43);
  box-shadow: inset 1px 1px 6px #04bbfc, inset -1px -1px 6px #d6d6d6;
}

.logoContainer {
  width: auto;
  max-width: 400px;
  height: 80%;
  margin: 10px 15px;
  padding: 5px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
@media screen and (max-width: 850px) {
  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: "cen";
    align-items: center;
    align-items: "cen";
  }
}
@media screen and (max-width: 670px) {
  .logoContainer {
    display: none;
  }
}
.logoContainer__icon {
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 850px) {
  .logoContainer__icon {
    width: 50px;
    height: 50px;
  }
}
.logoContainer__title {
  color: #f8f8f8;
  margin: 0px 15px;
  font-size: 2.2rem;
}
@media screen and (max-width: 850px) {
  .logoContainer__title {
    font-size: 1.5rem;
  }
}

.nav {
  width: 65%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
}
@media screen and (max-width: 1100px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-items: "cen";
    width: 57%;
  }
}
@media screen and (max-width: 670px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: "cen";
    align-items: center;
    align-items: "cen";
    width: 100%;
  }
}
.nav__welcome {
  color: #f8f8f8;
  margin-top: 0.8rem;
  padding-left: 60px;
}
@media screen and (max-width: 1100px) {
  .nav__welcome {
    display: none;
  }
}
.nav__link {
  width: auto;
  height: auto;
  z-index: 1;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.nav__link__btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #04bbfc, -2px -2px 2px #d6d6d6;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
  overflow: hidden;
}
@media screen and (max-width: 670px) {
  .nav__link__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: "cen";
    align-items: center;
    align-items: "cen";
    margin-right: 15px;
    margin-left: 15px;
  }
}
.nav__link__btn--icon {
  width: 70%;
}
.nav__link__btn--user {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50%;
}

.current {
  width: 50px;
  height: 50px;
  border: 4px solid #04bbfc;
  box-shadow: none;
}

footer {
  position: relative;
  bottom: 1rem;
  left: 2%;
  right: 2%;
  z-index: 1;
  width: 96%;
  height: 60px;
  color: #020202;
  border-radius: 20px;
  background: linear-gradient(145deg, #091921, #081f43);
  box-shadow: 2px 2px 2px #04bbfc, -2px -2px 2px #d6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
footer:after {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 15px;
  background: linear-gradient(145deg, #091921, #081f43);
  box-shadow: inset 1px 1px 6px #04bbfc, inset -1px -1px 6px #d6d6d6;
}

#app {
  width: 100%;
  height: auto;
  background: linear-gradient(270deg, rgba(9, 25, 33, 0.85), rgba(8, 31, 67, 0.85)), url("./bg/bg_main.jpg") repeat center center;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
  padding-top: 50px;
}

.connect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
  padding: 10px;
}
.connect__form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
  align-items: "flexS";
}
.connect__form label {
  margin-bottom: 10px;
  width: 100%;
}
.connect__form input {
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
}
.connect__form select {
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
}
.connect__form--newUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}

.error {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: #ffd1d1;
  border: 2px red solid;
  border-radius: 10px;
}

.error_text {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  color: red;
  border-radius: 10px;
}

.success {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: #ebffeb;
  border: 2px green solid;
  border-radius: 10px;
}

.post {
  background: white;
  margin-bottom: 20px;
  max-width: 500px;
}
.post__userInfo {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: "flexS";
  align-items: center;
  align-items: "cen";
}
.post__userInfo__img {
  width: 80px;
  height: 80px;
  border: 5px solid #e2e2e2;
  border-radius: 50%;
}
.post__userInfo__text {
  margin-top: 10px;
  margin-left: 10px;
}
.post__userInfo__text p {
  margin-bottom: 5px;
}
.post__edit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
  margin-right: 10px;
}
.post__edit :nth-child(1n) {
  margin: 5px;
}
.post__container {
  width: 100%;
  min-height: 80px;
  padding-top: 10px;
}
.post__container__text {
  margin-left: 10px;
}
.post__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
}
.post__action {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
}
.post__action__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.post__action__container:hover {
  color: green;
  cursor: pointer;
}
.post__action__container--liked {
  color: blue;
}
.post__action__container--disliked {
  color: black;
}

.postInfo {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
}
.postInfo__count {
  margin: 5px;
}

textarea {
  resize: none;
}

.createPost {
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.createPost__title {
  width: 100%;
  height: 50px;
  background-color: #081f43;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.createPost__container {
  width: 100%;
  height: auto;
  background-color: white;
}
.createPost__container__form {
  width: 100%;
  padding: 10px;
}

input[type=file] {
  position: absolute;
  width: 160px;
  opacity: 1;
  transform: translate(-155px, 10px);
  cursor: pointer;
}

.commentContainer {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
}
.commentContainer__comment {
  display: flex;
  flex-direction: row;
  justify-content: "flexS";
  align-items: center;
  align-items: "cen";
}
.commentContainer__image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0px 15px;
}

.createComment {
  height: 50px;
  background-color: #081f43;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
}
.createComment__input {
  color: black;
}
.createComment__btn {
  color: black;
}

.myPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}

.myProfil {
  background: whitesmoke;
  width: 70%;
  max-width: 700px;
  border-radius: 10px;
  border: 1px #081f43 solid;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__contact {
  margin: 10px;
}
.myProfil__contact__name {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__contact__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__contact__info h3 {
  margin-bottom: 10px;
}
.myProfil__myInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: "flexS";
  align-items: stretch;
  align-items: "st";
}
.myProfil__myInfo__age {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: "flexS";
  align-items: baseline;
  margin-bottom: 20px;
}
.myProfil__myInfo__age h2 {
  width: 80px;
}
.myProfil__myInfo__age p {
  width: calc(100%-80px);
}
.myProfil__myInfo__bio {
  width: 100%;
  margin-bottom: 20px;
}
.myProfil__myInfo__bio h2 {
  margin-bottom: 10px;
}
.myProfil__myInfo__bio p {
  margin-bottom: 10px;
}
.myProfil__modif {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__modif button {
  width: 100%;
  height: 40px;
  background-color: #081f43;
  color: whitesmoke;
  border-radius: 10px;
}

.imageCard {
  text-align: center;
}
.imageCard img {
  width: 600px;
}

.backdrop {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.controls-upper-area {
  text-align: center;
}

.slider {
  width: 50%;
}

.button-area {
  text-align: center;
  margin-top: 20px;
}
.button-area button {
  margin-left: 10px;
  margin-right: 10px;
  background: #000;
  color: white;
  border: 2px solid yellow;
  font-size: 20px;
}

.allUsers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: "SpB";
  align-items: flex-start;
  align-items: "flexS";
}
.allUsers__organization {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: "flexS";
  align-items: center;
  align-items: "cen";
}

.service {
  width: 100%;
  min-width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: "flexS";
  align-items: center;
  align-items: "cen";
}
.service__jobs {
  min-width: 100%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: flex-start;
  align-items: "flexS";
  padding: 10px;
}

.user {
  width: 200px;
  height: auto;
}

.selected {
  background-color: #ffd1d1;
  border: 2px red solid;
}

.loginPage {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
@media screen and (max-width: 1100px) {
  .loginPage {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: "cen";
    align-items: center;
    align-items: "cen";
  }
}
.loginPage__info {
  width: 40%;
  height: 50%;
  color: #f8f8f8;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: "spE";
}
@media screen and (max-width: 1100px) {
  .loginPage__info {
    width: 100%;
    margin: 30px 0px;
    align-items: center;
  }
}
@media screen and (max-width: 420px) {
  .loginPage__info {
    display: none;
  }
}
.loginPage__info__title {
  margin-bottom: 30px;
}
@media screen and (max-width: 1100px) {
  .loginPage__info__title {
    text-align: center;
  }
}
.loginPage__info__text {
  margin-left: 30px;
  line-height: 40px;
}
@media screen and (max-width: 1100px) {
  .loginPage__info__text {
    text-align: center;
    margin: 0px;
  }
}
.loginPage__info__text hr {
  margin: 30px 0;
}

.logForm {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
  color: #020202;
  border-radius: 30px;
  background: linear-gradient(90deg, #081f43, #091921);
  box-shadow: 2px 2px 2px #04bbfc, -2px -2px 2px #d6d6d6;
  margin-bottom: 50px;
}
@media screen and (max-width: 850px) {
  .logForm {
    margin-top: 30px;
  }
}
.logForm__button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.logForm--signin {
  max-width: 350px;
}
.logForm--signup {
  max-width: 650px;
}
@media screen and (max-width: 850px) {
  .logForm--signup {
    max-width: 350px;
  }
}

.sign {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.sign__title {
  width: 100%;
  height: 65px;
  border-radius: 29px 29px 0px 0px;
  background-color: #00b594;
  color: #f8f8f8;
  box-shadow: 0px 2px 2px #d6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.sign__icon {
  fill: transparent;
  stroke: #f8f8f8;
  stroke-width: 2px;
  height: 120px;
  width: 120px;
  margin-top: 20px;
}
.sign__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
  width: 100%;
  padding: 30px;
}
.sign__form__section--one {
  margin-right: 20px;
}
@media screen and (max-width: 850px) {
  .sign__form__section--one {
    width: 100%;
    margin-right: 0px;
  }
}
.sign__form__section--two {
  margin-left: 20px;
}
@media screen and (max-width: 850px) {
  .sign__form__section--two {
    width: 100%;
    margin-left: 0px;
  }
}
.sign__form--signup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: flex-start;
  align-items: "flexS";
}
@media screen and (max-width: 850px) {
  .sign__form--signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: "cen";
    align-items: center;
    align-items: "cen";
  }
}
.sign__form__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: flex-start;
  align-items: "flexS";
  width: 95%;
}
.sign__form__part label {
  margin-bottom: 5px;
  color: #f8f8f8;
}
.sign__form__part input {
  width: 100%;
  min-width: 250px;
  height: 38px;
  color: #020202;
  border-radius: 20px;
  padding: 10px;
}
.sign__form__part select {
  width: 100%;
  min-width: 250px;
  height: 38px;
  color: #020202;
  border-radius: 20px;
  padding-left: 10px;
}
.sign__form__part p {
  height: 20px;
  margin: 7px 10px 5px auto;
}
.sign__form__cgv {
  width: 100%;
  height: 100%;
  color: #f8f8f8;
  margin-top: 30px;
}
@media screen and (max-width: 850px) {
  .sign__form__cgv {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.sign__form__cgv input {
  margin-right: 10px;
}

#infoError {
  max-width: 90%;
}

.messageError {
  color: #ff421c;
  font-style: oblique;
  -webkit-animation: checkMessage 1s ease-out forwards;
          animation: checkMessage 1s ease-out forwards;
}

.signupSuccess {
  color: #00b594;
  font-style: oblique;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
  border-left: 5px solid #00b594;
  border-right: 5px solid #00b594;
}

.inputSuccess {
  border: 3px solid #00b594;
}

.inputError {
  border: 3px solid #ff421c;
}

.globalError {
  color: #ff421c;
  border-left: 5px solid #ff421c;
  padding: 0 10px;
  margin-left: 7px;
  margin-top: 20px;
}

@-webkit-keyframes checkMessage {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes checkMessage {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}/*# sourceMappingURL=main.css.map */