@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/nevis");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
}

.animIcon {
  -webkit-animation: spin 3s ease-out;
          animation: spin 3s ease-out;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: "nevis", Arial, Helvetica, sans-serif;
}

.btn {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  margin: 10px 0;
}
.btn:hover {
  transition: all 0.2s;
}
.btn:hover:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.btn--callToAction {
  background: #081f43;
  color: #f8f8f8;
}
.btn--secondaryAction {
  background: #ffd7d6;
  color: #020202;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
  color: #f8f8f8;
  background: #081f43;
}

.logo {
  width: 250px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  align-items: "cen";
}

.current div {
  width: 40px;
  height: 40px;
  border: 4px solid #ffd7d6;
}
.current div img {
  width: 30px;
  height: 30px;
}

.userInfo {
  width: 300px;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.userInfo div {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.userInfo img {
  border-radius: 50%;
}
.userInfo button {
  color: black;
  margin-top: 10px;
}

.navigation {
  width: 80%;
  padding-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
}

footer {
  width: 100%;
  height: 80px;
  color: #f8f8f8;
  background: #081f43;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  align-items: "cen";
  padding-top: 50px;
  background: silver;
}

.userConnect {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
  margin: auto;
  padding: 20px;
  background: #ebebeb;
  border: 1px solid #081f43;
  border-radius: 20px;
}

.connect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
  padding: 10px;
}
.connect__form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
  align-items: "flexS";
}
.connect__form label {
  margin-bottom: 10px;
  width: 100%;
}
.connect__form input {
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
}
.connect__form select {
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
}
.connect__form--newUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
li:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.error {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: #ffd1d1;
  border: 2px red solid;
  border-radius: 10px;
}

.error_text {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  color: red;
  border-radius: 10px;
}

.success {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: #ebffeb;
  border: 2px green solid;
  border-radius: 10px;
}

.post {
  background: white;
  margin-bottom: 20px;
  max-width: 500px;
}
.post__userInfo {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: "flexS";
  align-items: center;
  align-items: "cen";
}
.post__userInfo__img {
  width: 80px;
  height: 80px;
  border: 5px solid #e2e2e2;
  border-radius: 50%;
}
.post__userInfo__text {
  margin-top: 10px;
  margin-left: 10px;
}
.post__userInfo__text p {
  margin-bottom: 5px;
}
.post__edit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
  margin-right: 10px;
}
.post__edit :nth-child(1n) {
  margin: 5px;
}
.post__container {
  width: 100%;
  min-height: 80px;
  padding-top: 10px;
}
.post__container__text {
  margin-left: 10px;
}
.post__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
}
.post__action {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
}
.post__action__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.post__action__container:hover {
  color: green;
  cursor: pointer;
}
.post__action__container--liked {
  color: blue;
}
.post__action__container--disliked {
  color: black;
}

.postInfo {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
}
.postInfo__count {
  margin: 5px;
}

textarea {
  resize: none;
}

.createPost {
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.createPost__title {
  width: 100%;
  height: 50px;
  background-color: #081f43;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.createPost__container {
  width: 100%;
  height: auto;
  background-color: white;
}
.createPost__container__form {
  width: 100%;
  padding: 10px;
}

input[type=file] {
  position: absolute;
  width: 160px;
  opacity: 1;
  transform: translate(-155px, 10px);
  cursor: pointer;
}

.commentContainer {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: "spB";
  align-items: center;
  align-items: "cen";
}
.commentContainer__comment {
  display: flex;
  flex-direction: row;
  justify-content: "flexS";
  align-items: center;
  align-items: "cen";
}
.commentContainer__image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0px 15px;
}

.createComment {
  height: 50px;
  background-color: #081f43;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: "spE";
  align-items: center;
  align-items: "cen";
}
.createComment__input {
  color: black;
}
.createComment__btn {
  color: black;
}

.myPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}

.myProfil {
  background: whitesmoke;
  width: 70%;
  max-width: 700px;
  border-radius: 10px;
  border: 1px #081f43 solid;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__contact {
  margin: 10px;
}
.myProfil__contact__name {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__contact__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__contact__info h3 {
  margin-bottom: 10px;
}
.myProfil__myInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: "flexS";
  align-items: stretch;
  align-items: "st";
}
.myProfil__myInfo__age {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: "flexS";
  align-items: baseline;
  margin-bottom: 20px;
}
.myProfil__myInfo__age h2 {
  width: 80px;
}
.myProfil__myInfo__age p {
  width: calc(100%-80px);
}
.myProfil__myInfo__bio {
  width: 100%;
  margin-bottom: 20px;
}
.myProfil__myInfo__bio h2 {
  margin-bottom: 10px;
}
.myProfil__myInfo__bio p {
  margin-bottom: 10px;
}
.myProfil__modif {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: "cen";
  align-items: center;
  align-items: "cen";
}
.myProfil__modif button {
  width: 100%;
  height: 40px;
  background-color: #081f43;
  color: whitesmoke;
  border-radius: 10px;
}

.imageCard {
  text-align: center;
}
.imageCard img {
  width: 600px;
}

.backdrop {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.controls-upper-area {
  text-align: center;
}

.slider {
  width: 50%;
}

.button-area {
  text-align: center;
  margin-top: 20px;
}
.button-area button {
  margin-left: 10px;
  margin-right: 10px;
  background: #000;
  color: white;
  border: 2px solid yellow;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */