header {
  position: fixed;
  top: 1rem;
  left: 2%;
  right: 2%;
  z-index: 1;
  width: 96%;
  height: auto;
  min-height: 60px;

  color: $textColor_dark;
  border-radius: 20px;
  margin: auto;
  background: linear-gradient(145deg, $graphicPrimary, $graphicSecondary);
  box-shadow: 2px 2px 2px $shadowDark, -2px -2px 2px $shadowLight;

  @include flexRow("cen", "cen");

  &:after {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 20px;
    border-radius: 15px;
    background: linear-gradient(145deg, $graphicPrimary, $graphicSecondary);
    box-shadow: inset 1px 1px 6px $shadowDark, inset -1px -1px 6px $shadowLight;
  }
}

#connected {
  @include logo-limit {
    display: none;
  }
}

.logoContainer {
  width: auto;
  max-width: 400px;
  height: 80%;
  margin: 10px 15px;
  padding: 5px;
  z-index: 1;

  @include flexRow("cen", "cen");
  @include tablet-limit {
    @include flexCol("cen", "cen");
  }

  &__icon {
    width: 70px;
    height: 70px;
    @include tablet-limit {
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    color: $textColor_light;
    margin: 0px 15px;
    font-size: 2.2rem;
    @include tablet-limit {
      font-size: 1.5rem;
    }
  }
}

.nav {
  width: 65%;
  z-index: 1;
  @include flexRow("spB", "cen");
  @include desktop-limit {
    @include flexRow(end, "cen");
    width: 57%;
  }
  @include logo-limit {
    @include flexRow("cen", "cen");
    width: 100%;
  }

  &__welcome {
    color: $textColor_light;
    margin-top: 0.8rem;
    padding-left: 60px;
    @include desktop-limit {
      display: none;
    }
  }

  &__link {
    width: auto;
    height: auto;
    z-index: 1;
    margin: 20px;
    @include flexRow("cen", "cen");

    &__btn {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      box-shadow: 2px 2px 2px $shadowDark, -2px -2px 2px $shadowLight;
      margin-right: 30px;
      @include flexRow("cen", "cen");
      overflow: hidden;
      @include logo-limit {
        @include flexRow("cen", "cen");
        margin-right: 15px;
        margin-left: 15px;
      }
      @include smallMobile {
        margin-right: 8px;
        margin-left: 8px;
      }

      &--icon {
        width: 70%;
      }
      &--user {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 50%;
        //border: 2px solid $textColor_light;
      }
    }
  }
}

.current {
  width: 50px;
  height: 50px;
  border: 4px solid $graphicTertiary;
  box-shadow: none;
}
