header {
  width: 100%;
  height: auto;

  @include flexRow("spB", "cen");

  color: $textColor_light;
  background: $colorPrimary;
}

.logo {
  width: 320px;

  //border: 2px solid red;
  margin-left: 20px;

  @include flexRow(initial, "cen");
}

.userInfo {
  width: 300px;
  height: auto;

  margin: 20px;

  @include flexRow("spE", "cen");

  & img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
  }

  & button {
    color: black;
    margin-top: 10px;
  }
}

.userIcon {
  width: 50px;
  height: 50px;

  border: 2px solid white;
  border-radius: 50%;
}
