#app {
  width: 100%;
  height: auto;
  background: linear-gradient(
      270deg,
      rgba($graphicPrimary, 0.85),
      rgba($graphicSecondary, 0.85)
    ),
    url("./bg/bg_main.jpg") repeat center center;
}

main {
  width: 100%;
  height: auto;

  @include flexCol("cen", "cen");

  //border: 3px solid blue;
  padding-top: 120px;
}

.connect {
  //border: blue 1px solid;
  width: 100%;
  @include flexCol("cen", "cen");

  padding: 10px;
  //border: 1px red solid;

  &__form {
    width: 100%;
    margin-top: 20px;
    @include flexCol(initial, "flexS");

    //border: 1px green solid;
    & label {
      margin-bottom: 10px;
      width: 100%;
    }
    & input {
      height: 25px;
      margin-bottom: 10px;
      width: 100%;
    }
    & select {
      height: 25px;
      margin-bottom: 10px;
      width: 100%;
    }

    &--newUser {
      @include flexRow("cen", "cen");
    }
  }
}

.error {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: rgb(255, 209, 209);
  border: 2px red solid;
  border-radius: 10px;
}

.error_text {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  color: red;
  border-radius: 10px;
}

.success {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: rgb(235, 255, 235);
  border: 2px green solid;
  border-radius: 10px;
}

//! pour les posts :

//! Pour créer post:

//! ############## Mon profil : #######################

//! ############## Mon profil : #######################

//! AllUsers Page : ###################

//! AllUsers Page : ###################
