main {
  @include flexCol(initial, "cen");

  //border: 3px solid blue;
  padding-top: 50px;

  background: $addColor_dark;
}

.userConnect {
  //width: auto;
  width: 450px;
  height: auto;

  @include flexCol("cen", "cen");

  margin: auto;
  padding: 20px;

  background: $addColor;

  border: 1px solid $colorPrimary;
  border-radius: 20px;
}

.connect {
  //border: blue 1px solid;
  width: 100%;
  @include flexCol("cen", "cen");

  padding: 10px;
  //border: 1px red solid;

  &__form {
    width: 100%;
    margin-top: 20px;
    @include flexCol(initial, "flexS");

    //border: 1px green solid;
    & label {
      margin-bottom: 10px;
      width: 100%;
    }
    & input {
      height: 25px;
      margin-bottom: 10px;
      width: 100%;
    }
    & select {
      height: 25px;
      margin-bottom: 10px;
      width: 100%;
    }

    &--newUser {
      @include flexRow("cen", "cen");
    }
  }
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}

.error {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: rgb(255, 209, 209);
  border: 2px red solid;
  border-radius: 10px;
}

.error_text {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  color: red;
  border-radius: 10px;
}

.success {
  width: 100%;
  min-height: 25px;
  padding: 2px;
  background-color: rgb(235, 255, 235);
  border: 2px green solid;
  border-radius: 10px;
}

//! pour les posts :

.post {
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
  max-width: 500px;

  &__userInfo {
    margin: 5px 10px;
    @include flexRow("flexS", "cen");

    &__img {
      width: 80px;
      height: 80px;
      border: 5px solid rgb(226, 226, 226);
      border-radius: 50%;
    }

    &__text {
      margin-top: 10px;
      margin-left: 10px;

      & p {
        margin-bottom: 5px;
      }
    }
  }

  &__edit {
    @include flexRow("spE", "cen");
    margin-right: 10px;

    :nth-child(1n) {
      margin: 5px;
    }
  }

  &__container {
    width: 100%;
    min-height: 80px;
    padding-top: 10px;

    &__text {
      margin-left: 10px;
    }
  }

  &__info {
    @include flexRow("spB", "cen");
  }

  &__action {
    min-height: 30px;
    @include flexRow("spE", "cen");

    &__container {
      @include flexRow("cen", "cen");

      &:hover {
        color: green;
        cursor: pointer;
      }

      &--liked {
        color: blue;
      }

      &--disliked {
        color: black;
      }
    }
  }
}

.postInfo {
  height: 40px;
  @include flexRow("spE", "cen");
  &__count {
    margin: 5px;
  }
}

//! Pour créer post:

textarea {
  resize: none;
}

.createPost {
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
  @include flexCol("cen", "cen");

  &__title {
    width: 100%;
    height: 50px;
    background-color: $colorPrimary;
    color: whitesmoke;

    @include flexCol("cen", "cen");
  }

  &__container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

    &__form {
      width: 100%;
      padding: 10px;
    }
  }
}

input[type="file"] {
  position: absolute;
  width: 160px;
  //height: 40px;
  opacity: 1;
  transform: translate(-155px, 10px);
  cursor: pointer;
}
.commentContainer {
  width: 100%;
  min-height: 40px;
  @include flexRow("spB", "cen");

  &__comment {
    @include flexRow("flexS", "cen");
  }
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 15px;
  }
}

.createComment {
  height: 50px;
  background-color: $colorPrimary;
  color: whitesmoke;
  @include flexRow("spE", "cen");

  &__input {
    color: black;
  }

  &__btn {
    color: black;
  }
}

//! ############## Mon profil : #######################

.myPage {
  width: 100%;
  @include flexRow("cen", "cen");
}

.myProfil {
  background: whitesmoke;

  width: 70%;
  max-width: 700px;
  border-radius: 10px;
  border: 1px $colorPrimary solid;
  padding: 20px;
  margin-bottom: 10px;
  @include flexCol("cen", "cen");

  &__contact {
    margin: 10px;

    &__name {
      width: 100%;
      margin-bottom: 10px;
      @include flexCol("cen", "cen");
    }
    &__info {
      width: 100%;
      @include flexCol("cen", "cen");
      & h3 {
        margin-bottom: 10px;
      }
    }
  }
  &__myInfo {
    width: 100%;

    @include flexCol("flexS", "st");

    &__age {
      width: 100%;
      @include flexRow("flexS", "base");
      margin-bottom: 20px;
      & h2 {
        width: 80px;
      }
      & p {
        width: calc(100%-80px);
      }
    }

    &__bio {
      width: 100%;
      margin-bottom: 20px;

      & h2 {
        margin-bottom: 10px;
      }

      & p {
        margin-bottom: 10px;
      }
    }
  }
  &__modif {
    width: 100%;
    @include flexCol("cen", "cen");
    & button {
      width: 100%;
      height: 40px;
      background-color: $colorPrimary;
      color: whitesmoke;
      border-radius: 10px;
    }
  }
}

//! ############## Mon profil : #######################

//Cropper React :
.imageCard {
  text-align: center;

  & img {
    width: 600px;
  }
}

.backdrop {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.controls-upper-area {
  text-align: center;
}

.slider {
  width: 50%;
}

.button-area {
  text-align: center;
  margin-top: 20px;

  & button {
    margin-left: 10px;
    margin-right: 10px;
    background: #000;
    color: white;
    border: 2px solid yellow;
    font-size: 20px;
  }
}

//Cropper React :
